<div class="panel panel-default">
  <div class="panel-heading">
    プロフィール
  </div>
  
  <div>
    <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
    </h1>
  </div>
  
  <div class="panel-body">
      <span class="label label-success"><%= @user.profile %></span>
      <span class="label label-success"><%= @user.location %></span>
      <br>
  </div>
</div>